@charset "utf-8";
@media (max-width: 800px) {
    /* ヘッダーロゴの設定 */
    header h1 {
        margin: 50px 0 20px 0;
        text-align: left;
        font-size: 1.8rem;
    }

    .header-content h1 {
        margin: 0;
    }

    #header_visual img {
        max-width: 150px;
        margin-right: 3.5rem;
        height: auto;
        box-shadow: 0 0 8px rgb(255, 148, 27);
    }

    /* デスクトップ版メニューのリセット */
    .main-nav {
        display: block;
        font-size: 1.2rem;
        gap: 0;
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    .main-nav a {
        color: #000;
        font-size: 1.2rem;
        padding: 10px 15px;
        background-color: transparent;
        display: block;
        text-align: left;
        text-decoration: none;
    }

    .main-nav a:hover {
        background-color: transparent;
    }

    /* ハンバーガーメニュー */
    #hamburger {
        opacity: 0;
        position: fixed;
    }

    label .burger {
        position: fixed;
        top: 1.3rem;
        right: 1rem;
        z-index: 3;
        width: 2rem;
        height: 2rem;
    }

    label .burger::before,
    label .burger::after,
    label .burger .bar {
        position: absolute;
        right: 0;
        width: 100%;
        height: 0.25rem;
        border-radius: 5px;
        background: blueviolet;
        content: "";
        transition: all 0.5s;
    }

    label .burger::before {
        top: 0;
        transform-origin: top right;
    }

    label .burger::after {
        bottom: 0;
        transform-origin: bottom right;
    }

    label .burger .bar {
        top: 45%;
    }

    #menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    #menu::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 25rem;
        background-color: rgb(255, 148, 27);
        content: "";
        transform: skewX(-15deg) translateX(100%);
        transform-origin: bottom right;
        transition: taransform 0.3s;
    }

    #menu a {
        margin: 0.9rem 0;
        padding: 0 2rem;
        font-size: 1.5rem;
        color: #000;
        text-decoration: none;
        transform: translateX(150%);
        transition:
            all 0.15s,
            transform 0.5s;
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }

    #hamburger:checked + label .burger::before,
    #hamburger:checked + label .burger::after {
        width: 130%;
    }

    #hamburger:checked + label .burger::before {
        transform: rotate(-45deg);
    }

    #hamburger:checked + label .burger::after {
        transform: rotate(45deg);
    }

    #hamburger:checked + label .burger .bar {
        transform: scale(0);
    }

    #hamburger:checked ~ #menu::before {
        transform: skewX(-15deg) translateX(0);
    }

    #hamburger:checked ~ #menu a {
        transform: translateX(0);
    }

    #hamburger:checked ~ .light-dark {
        background: #000;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
    }
    
    /* フッター */
    footer {
        background-color: rgba(255, 148, 27, 0.62);
        color: #000;
        padding: 30px 0;
        text-align: center;
    }

    /* 切替スイッチ内部設定 */
    footer ul li {
        display: inline-block;
        margin: 0 1px;
    }

    footer ul li a {
        color: #000;
        font-size: 0.875;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
