@charset "utf-8";

body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
        sans-serif;
}
/* スタイル設定 */
main {
    width: 940px;
    margin: 0 auto;
}

main h1 {
    border-left: 10px solid #de90f6;
    border-bottom: 1px solid #de90f6;
    padding: 5px 10px;
    margin-bottom: 30px;
    font-size: 1.8em;
}

main h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
}

main h3 {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 30px;
}

/* テキスト文章のスタイル設定 */
.text {
    text-align: left;
    margin-top: 1px;
    margin-bottom: 1px;
}

.text p {
    padding-top: 1px;
    border-top: 1px;
}

/* ページトップボタンの作成 */
.page_top {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

.page_top a {
    padding-top: 4px;
    border-top: 4px solid #0c7309;
}

.page_top a:before {
    content: "↑";
}

.page_top a:link,
.page_top a:visited {
    color: #0c7309;
}

.page_top a:hover {
    border-color: #de90f6;
    color: #de90f6;
}


/* 各ページ設定 */
/* indexページ */

/* aboutページ */

/* newsページ */

/* tirasiページ */

/* buy_infoページ */

/* accessページ */
/* accessページ段組み */
.access_box {
    width: 450px;
    margin-right: 20px;
    float: left;
}

.access_box:last-child {
    margin-right: 0;
}

/* reservationページ */
