@charset "utf-8";

/* テーブルデザイン */

table th,
table td {
    padding: 10px 20px;
    border-bottom: 1px solid #c9c2bc;
}

table th {
    text-align: center;
    font-weight: normal;
    padding: 1rem;
}

table td {
    text-align: left;
    padding: 1rem 0;
}

.main-table {
    display: table;
    border-collapse: collapse;
    margin: 0 auto 30px;
}

.info {
    width: 100%;
    max-width: 544;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}

/* 地図データ */
#map {
    text-align: center;
}

/* サイドバー */
.side-menu {
    list-style: none;
    text-align: center;
    margin-bottom: 4rem;
}

/* フルページカルーセル */
.slider {
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: auto;
    max-width: 926px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    background: #eee;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 0.5s ease-in-out;
}

.slide-content {
    display: flex;
    width: 100%;
    padding: 0;
}

.slide-image {
    flex: 1;
    width: 30%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.slide-text {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide-text h4 {
    margin: 0 0 10px;
    font-size: 3.8rem;
}

.slide-text p {
    margin: 0;
    line-height: 1.5;
    font-size: 50%;
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: auto;
    height: 500px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

/* スクロールバーのスタイル */
.slides::-webkit-scrollbar {
    width: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* ニュースページカルーセル */
.slider-min {
    position: relative;
    width: 101%;
    height: auto;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: left;
    justify-content: left;
    margin: auto;
}

.slides-min {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slide-min {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 650px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    background: #eee;
    overflow: hidden;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 0.5s ease-in-out;
}

.slide-content-min {
    display: flex;
    width: 100%;
    padding: 0;
}

.slide-image-min {
    flex: 1;
    width: 15rem;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.slide-text-min {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slide-text-min h4 {
    margin: 0 0 10px;
    font-size: 3.6rem;
}

.slide-min p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: auto;
    height: 500px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

/* スクロールバーのスタイル */
.slides-min::-webkit-scrollbar {
    width: 10px;
}

.slides-min::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.slides-min::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* ページトップボタンの作成 */
.page_top {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

.page_top a {
    padding-top: 4px;
    border-top: 4px solid #0c7309;
}

.page_top a:before {
    content: "↑";
}

.page_top a:link,
.page_top a:visited {
    color: #0c7309;
}

.page_top a:hover {
    border-color: #de90f6;
    color: #de90f6;
}

.mobile_hid {
    display: block;
}

/* パソコン・タブレットの設定 */
@media (min-width: 750px) {
    /* ニュースサイドバー */
    .news_content {
        display: flex;
        justify-content: space-between;
    }

    .post {
        width: 70%;
    }

    .sidebar {
        width: 22%;
    }

    .sidebar .heading {
        line-height: 2;
        margin-bottom: 1rem;
    }

    /* トップページ二段カラム */
    .flag {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .harf_column1,
    .harf_column2 {
        flex: 1;
        box-sizing: border-box;
    }

    .harf_column1,
    .harf_column2 {
        max-width: 48%;
    }

    .side-menu li {
        border-bottom: 1px solid #c9c2bc;
    }

    .side-menu a {
        color: #432;
        display: block;
        padding: 1rem;
    }

    .side-menu a:hover {
        color: #0bd;
    }
}
