@charset "utf-8";
@media (min-width: 750px) and (max-width: 1380px) {
    /* フルページカルーセル */
    .slide {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: auto;
        max-width: 766px;
        height: auto;
        margin-right: 20px;
        border-radius: 10px;
    }

    .slide-image {
        flex: 1;
        width: 30%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
    }

    .slide-text {
        flex: 2;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slide-text h4 {
        margin: 0 0 10px;
        font-size: 1.8rem;
    }

    .slide-text p {
        margin: 0;
        line-height: 1.5;
        font-size: 30%;
    }

    /* ニュースページカルーセル */
    .slide-min {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: auto;
        max-width: 652px;
        height: auto;
        margin-right: 20px;
        border-radius: 10px;
    }

    .slide-image-min {
        flex: 1;
        width: 30%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
    }

    .slide-text-min {
        flex: 2;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slide-text-min h4 {
        margin: 0 0 10px;
        font-size: 2.9rem;
    }
}
