@charset "utf-8";
@media (max-width: 750px) {
    /* テーブルデザイン */
    table th,
    table td {
        font-size: 15px;
    }

    /* ニュースサイドバー */
    .news_content {
        display: block;
    }

    .post {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    .sidebar .heading {
        line-height: 1.5;
        margin-bottom: 0.5rem;
    }

    /* フルページカルーセル */
    .slider {
        position: relative;
        text-align: center;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    .slides {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        flex-wrap: nowrap;
    }

    .slide {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: auto;
        max-width: 100%;
        margin-right: 0;
        height: auto;
        border-radius: 10px;
        background: #eee;
        display: flex;
        flex-direction: column; /* Stack image and text vertically */
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative; /* Changed from absolute to relative */
    }

    .slide-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .slide-image {
        width: 51%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
    }

    .slide-text {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        margin-top: -5px;
        position: relative;
    }

    .slide-text h4 {
        font-size: 1.5rem;
        margin: 0; /* Remove default margin */
    }

    .slide-text p {
        font-size: 1rem;
        margin: 0; /* Remove default margin */
    }

    /* ニュースページカルーセル */
    .slider-min {
        position: relative;
        text-align: center;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    .slides-min {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        flex-wrap: nowrap;
    }

    .slide-min {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: auto;
        max-width: 100%;
        margin-right: 0;
        height: auto;
        border-radius: 10px;
        background: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .slide-content-min {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .slide-image-min {
        width: 60%;
        height: auto;
        margin-bottom: 20px;
        border-radius: 10px;
        object-fit: cover;
    }

    .slide-text-min {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: relative;
        bottom: auto;
    }

    .slide-text-min h4 {
        font-size: 2.7rem;
    }

    .slide-min p{
        font-size: 21px;
    }

    .mobile_hid {
        display: none;
    }
}
